:root {
  /* Product */
  --blue-dark: #1e6f9f;
  --blue: #4ea8de;
  --purple-dark: #5e60ce;
  --purple: #8284fa;

  /* Base */
  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;
  --gray-200: #d9d9d9;
  --gray-100: #f2f2f2;

  /* Feedback */
  --danger: #e25858;

  /* Fonts */
  --font-family: "Inter", sans-serif;
  --text-xs: 12px/140% var(--font-family);
  --text-sm: 14px/140% var(--font-family);
  --text-base: 16px/140% var(--font-family);

  --text-xs-bold: bold 12px/140% var(--font-family);
  --text-sm-bold: bold 14px/140% var(--font-family);
  --text-base-bold: bold 16px/140% var(--font-family);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: transparent;
}

body {
  background-color: var(--gray-600);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialliased;
}
